.button {
  cursor: pointer;
  width: 56px;
  height: 56px;
  transition: 0.3s;
  border: 1px solid transparent;
  border-radius: 50%;
  background-color: transparent;
  position: relative;

  use {
    stroke: $basic-blue;
    fill: none;
  }

  &--submit {
    width: 100%;
    background: transparent;
    color: $basic-white;
    position: relative;
    appearance: none;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    border: 2px solid $basic-white;
    padding: 22px 0 34px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0%;

    @media (min-width: $tablet) {
      padding: 25px 0 37px;
    }

    &:hover:not(:disabled) {
      color: $basic-blue;
      background-color: $basic-white;
      transition: 0.3s;
    }

    &:focus:not(:disabled) {
      color: $basic-blue;
      background: rgba(255, 255, 255, 0.8);
      transition: 0.3s;
      border-color: $basic-blue;
    }

    &:active:not(:disabled) {
      color: $basic-blue;
      background-color: $basic-white;
    }

    &:disabled {
      opacity: 0.3;
      cursor: default;
    }
  }

  &:hover,
  &:focus {
    border: 1px solid $basic-blue;
  }

  &:focus {
    background-color: $price-shadow;
  }

  &:active {
    background-color: $basic-blue;

    use {
      stroke: $basic-white;
    }
  }
}

.button__image {
  position: absolute;
  top: 12px;
  left: 18px;
}
