.card {
  width: 290px;
  padding: 7px;
  text-align: center;
  background: $basic-white;
  display: flex;
  flex-direction: column;
  gap: 18px;
  position: relative;
  transition: 0.3s;

  @media (min-width: $tablet) {
    width: 380px;
    padding: 65px;
    gap: 22px;
  }

  @media (min-width: $desktop) {
    width: 360px;
    padding: 65px 78.5px;
    gap: 18px;
  }
}

.card__inner-wrapper {
  text-align: center;
  background-color: $basic-white;
  display: flex;
  flex-direction: column;
  gap: 18px;
  position: relative;
  padding: 43px 42px;
}

.card__heading {
  margin: 0;
  font-size: 22px;
  line-height: 22px;
  font-weight: 700;

  @media (min-width: $tablet) {
    font-size: 24px;
    line-height: 24px;
  }

  @media (min-width: $desktop) {
    font-size: 26px;
    line-height: 26px;
  }
}

.card__number-of-sessions {
  margin: 0;
  font-size: 14px;
  line-height: 22px;

  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 24px;
  }
}

.card__price {
  position: relative;
  margin: 0;
  padding: 66px 9px 11px;
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
  color: $text-additional-accent;
  margin-right: 33px;

  @media (min-width: $tablet) {
    letter-spacing: -1px;
    padding: 58px 27px 0 18px;
    font-size: 60px;
    line-height: 90px;
  }

  &::after {
    position: absolute;
    content: "";
    width: 24px;
    height: 33px;
    background-image: url("../../img/sprite/ruble.svg");
    bottom: 29px;
    right: -3px;

    @media (min-width: $tablet) {
      width: 30px;
      height: 42px;
      background-size: cover;
      bottom: 23px;
      right: 9px;
    }

    @media (min-width: $desktop) {
      right: -14px;
      bottom: 22px;
    }
  }
}

.card__link {
  @include link-reset;

  font-size: 12px;
  line-height: 12px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 25px 42px;
  border: 2px solid $basic-blue;
  width: 196px;
  align-self: center;
  transition: 0.3s;
  position: relative;

  @media (min-width: $tablet) {
    width: 250px;
    margin-top: 2px;
  }

  @media (min-width: $desktop) {
    width: 194px;
  }

  &:hover:not([aria-disabled="true"]) {
    border-color: transparent;
    background: linear-gradient(151deg, #ed0233 0%, #003eb7 100%);
    color: $basic-white;
    transition: 0.3s;
  }

  &:focus:not([aria-disabled="true"]) {
    opacity: 0.8;
    background: linear-gradient(151deg, #ed0233 0%, #003eb7 100%);
    color: $basic-white;
    transition: 0.3s;
  }

  &:active:not([aria-disabled="true"]) {
    background: linear-gradient(151deg, #ed0233 0%, #003eb7 100%);
    color: rgba(255, 255, 255, 0.7);
    border-color: transparent;
    transition: 0.3s;
  }

  &[aria-disabled="true"] {
    opacity: 0.3;
  }
}

.card .card__price::before {
  @media (min-width: $tablet) {
    font-size: 100px;
    line-height: 150px;
    bottom: 2px;
    left: 22px;
    letter-spacing: -1px;
  }

  @media (min-width: $desktop) {
    left: -2px;
  }
}

.card:hover,
.card:focus-within {
  background: linear-gradient(151deg, #ed0233 0%, #003eb7 100%);
  transition: 0.3s;

  .card__link {
    border-color: transparent;
    background: linear-gradient(151deg, #ed0233 0%, #003eb7 100%);
    color: $basic-white;
    transition: 0.3s;
  }
}
