.card {
  width: 290px;
  padding: 50px 42px;
  text-align: center;
  background-color: $basic-white;
  display: flex;
  flex-direction: column;
  gap: 18px;

  @media (min-width: $tablet) {
    width: 380px;
    padding: 65px;
    gap: 22px;
  }

  @media (min-width: $desktop) {
    width: 360px;
    padding: 65px 78.5px;
    gap: 18px;
  }
}

.card__heading {
  margin: 0;
  font-size: 22px;
  line-height: 22px;
  font-weight: 700;

  @media (min-width: $tablet) {
    font-size: 24px;
    line-height: 24px;
  }

  @media (min-width: $desktop) {
    font-size: 26px;
    line-height: 26px;
  }
}

.card__number-of-sessions {
  margin: 0;
  font-size: 14px;
  line-height: 22px;

  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 24px;
  }
}

.card__price {
  position: relative;
  margin: 0;
  padding: 66px 9px 11px;
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
  color: $text-additional-accent;
  z-index: 1;
  margin-right: 33px;

  @media (min-width: $tablet) {
    letter-spacing: -1px;
    padding: 58px 27px 0 18px;
    font-size: 60px;
    line-height: 90px;
  }

  &::after {
    position: absolute;
    content: "";
    width: 24px;
    height: 33px;
    background-image: url("../../img/sprite/ruble.svg");
    bottom: 29px;
    right: 4px;

    @media (min-width: $tablet) {
      width: 30px;
      height: 42px;
      background-size: cover;
      bottom: 23px;
      right: 9px;
    }

    @media (min-width: $desktop) {
      right: -14px;
      bottom: 22px;
    }
  }
}

.card__link {
  @include link-reset;

  font-size: 12px;
  line-height: 12px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 25px 42px;
  border: 2px solid $basic-blue;
  width: 196px;
  align-self: center;

  @media (min-width: $tablet) {
    width: 250px;
    margin-top: 2px;
  }

  @media (min-width: $desktop) {
    width: 194px;
  }
}

.card .card__price::before {
  @media (min-width: $tablet) {
    font-size: 100px;
    line-height: 150px;
    bottom: 2px;
    left: 22px;
    letter-spacing: -1px;
  }

  @media (min-width: $desktop) {
    left: -2px;
  }
}
