.contacts {
  background-color: $basic-white;
}

.contacts__container {
  padding: 37px 0;
}

.contacts__title {
  margin: 0;
  font-family: $font-family-primary;
  font-weight: 600;
  font-size: 32px;
  line-height: 32px;
}

.contacts__list {
  @include list-reset;

  margin-top: 37px;
  display: flex;
  flex-direction: column;
  row-gap: 28px;
}

.contacts__item {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.contacts__subtitle {
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
}

.contacts__text {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
