.faq {
  background-color: $background-additional-white;
}

.faq__container {
  padding: 70px 0;

  @media (min-width: $tablet) {
    padding: 60px 0;
  }

  @media (min-width: $desktop) {
    padding: 100px 0;
    display: grid;
    grid-template-areas:
      "title title"
      "menu  qanda";
    grid-template-columns: 260px auto;
    column-gap: 40px;
  }
}

.faq__title {
  margin: 0;
  text-align: center;
  font-family: $font-family-primary;
  font-weight: 600;
  font-size: 32px;
  line-height: 32px;

  @media (min-width: $tablet) {
    font-size: 42px;
    line-height: 42px;
  }

  @media (min-width: $desktop) {
    font-size: 54px;
    line-height: 54px;
    text-align: left;
    grid-area: title;
  }
}

.faq__list {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 7px;
  padding-top: 34px;

  @media (min-width: $tablet) {
    padding-top: 45px;
    flex-direction: column;
  }

  @media (min-width: $desktop) {
    grid-area: menu;
    padding-top: 50px;
    row-gap: 10px;
  }
}

.faq__item {
  width: 140px;
  padding: 15px 0;
  border: 1px solid rgba(16, 38, 84, 0.2);
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  cursor: pointer;

  @media (min-width: $tablet) {
    width: 162px;
    font-size: 18px;
    line-height: 18px;
    padding: 16px 0;
  }

  @media (min-width: $desktop) {
    width: 260px;
    padding: 17px 0;
  }
}

.faq__item.active {
  background: linear-gradient(151deg, #ed0233 0%, #003eb7 100%);
  color: $basic-white;
  border-color: transparent;

  @media (min-width: $tablet) {
    background: linear-gradient(90deg, #ed0233 10%, #003eb7 100%);
  }
}

.faq__info-wrapper {
  @include list-reset;

  margin-top: 35px;
  display: none;

  @media (min-width: $tablet) {
    margin-top: 46px;
  }

  @media (min-width: $desktop) {
    grid-area: qanda;
    margin-top: 49px;
  }
}

.faq__info-wrapper.active {
  display: block;
}

.faq__qanda {
  padding: 20px 0;
  position: relative;

  @media (min-width: $tablet) {
    padding: 32px 0 26px;
  }

  @media (min-width: $desktop) {
    padding: 32px 0 23px;
  }

  &:nth-of-type(2) {
    @media (min-width: $tablet) {
      padding: 32px 0 36px;
    }

    @media (min-width: $desktop) {
      padding: 32px 0 29px;
    }
  }

  &:nth-of-type(3) {
    @media (min-width: $tablet) {
      padding: 32px 0 36px;
    }

    @media (min-width: $desktop) {
      padding: 32px 0 29px;
    }
  }

  &:nth-of-type(4) {
    @media (min-width: $tablet) {
      padding: 25px 0;
    }

    @media (min-width: $desktop) {
      padding: 30px 0 31px;
    }
  }
}
