.footer {
  background-color: $background-footer;
  color: $basic-white;
}

.footer__container {
  padding: 40px 0 36px;

  @media (min-width: $tablet) {
    display: grid;
    grid-template-areas: "logo links social";
    column-gap: 35px;
    padding: 45px 0 47px;
  }

  @media (min-width: $desktop) {
    padding: 40px 0;
    column-gap: 167px;
  }
}

.footer__logo {
  @media (min-width: $tablet) {
    grid-area: logo;
  }
}

.footer__list {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  line-height: 20px;
  column-gap: 35px;
  row-gap: 20px;

  margin-top: 26px;

  @media (min-width: $tablet) {
    column-gap: 31px;
    line-height: 22px;
    margin: 0;
    grid-area: links;
    align-self: baseline;
  }

  @media (min-width: $desktop) {
    column-gap: 84px;
  }
}

.footer__list-link {
  @include link-reset;
}

.footer__social-list {
  margin: 30px 0 0;

  @media (min-width: $tablet) {
    margin: 0;
    grid-area: social;
  }
}
