.hero {
  background: $background-home-screen;
  width: 100%;
  min-height: 412px;
}

.hero__header {
  padding: 16px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (min-width: $tablet) {
    padding: 30px 0 28px;
  }
}

.hero__content-wrapper {
  color: $basic-white;
  display: grid;
  justify-content: center;
  grid-template-areas:
    "list title"
    "link link";
  row-gap: 48px;
  column-gap: 21px;
  padding: 48px 0 30px;

  @media (min-width: $tablet) {
    grid-template-areas:
      ".    . .     . image"
      "list . title . image"
      "list . .     . image"
      "list . link  . image"
      ".    . .     . image";
    grid-template-columns: 113px 26px 185px 30px 324px;
    grid-template-rows: 31px 222px 50px 56px 31px;
    padding: 0 0 100px;
    row-gap: 0;
    column-gap: 0;
  }

  @media (min-width: $desktop) {
    padding: 26px 0 116px;
    grid-template-areas:
      ".    .     . image"
      "list title . image"
      "list .     . image"
      "list link  . image"
      ".    .     . image";
    grid-template-columns: 190px 270px 56px 500px;
    grid-template-rows: 31px auto 40px 66px 56px;
  }
}
