.jury__container {
  padding: 35px 0 40px;

  @media (min-width: $tablet) {
    padding: 30px 0 60px;
    position: relative;
  }

  @media (min-width: $desktop) {
    padding: 100px 0;
  }
}

.jury__swiper {
  margin-top: 19px;

  @media (min-width: $tablet) {
    margin-top: 46px;
    width: 560px;
  }

  @media (min-width: $desktop) {
    width: auto;
  }
}

.jury__title {
  font-family: $font-family-primary;
  font-weight: 600;
  font-size: 32px;
  line-height: 32px;
  text-align: center;
  margin: 0;

  @media (min-width: $tablet) {
    font-size: 54px;
    line-height: 54px;
  }

  @media (min-width: $desktop) {
    text-align: left;
  }
}

.jury__wrapper {
  @include list-reset;

  padding: 0 30px;

  @media (min-width: $tablet) {
    padding: 0;
  }
}

.jury__slide {
  width: 227px;
  height: 280px;
  position: relative;
  transition: 0.8s;

  @media (min-width: $tablet) {
    width: 260px;
    height: 300px;
  }

  @media (min-width: $desktop) {
    &:hover .jury__info {
      display: block;
    }
  }

  img {
    height: 280px;
    object-fit: cover;

    @media (min-width: $tablet) {
      width: 260px;
      height: 300px;
    }
  }

  &:nth-of-type(6) {
    @media (min-width: $tablet) {
      .jury__slide-title {
        left: 57px;
      }
    }
  }

  &:nth-of-type(7) {
    @media (min-width: $desktop) {
      .jury__slide-title {
        left: 43px;
      }
    }
  }

  &:focus .jury__info {
    display: block;
    transition: 0.8s;
  }
}

.jury__slide-title {
  position: absolute;
  color: $basic-white;
  font-weight: 400;
  font-size: 22px;
  line-height: 22px;
  margin: 0;
  bottom: 25px;
  left: 9%;

  @media (min-width: $tablet) {
    left: 66px;
  }
}

.jury__info {
  display: none;
  transition: 0.8s;
  box-shadow: 0 0 35px 0 rgba(42, 59, 99, 0.17);
  background-color: $basic-blue;
  opacity: 0.89;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  color: $basic-white;
  padding: 45px 42px;

  h4 {
    font-size: 22px;
    line-height: 22px;
    font-weight: 400;
    text-align: center;
    margin: 0;
  }

  h5 {
    margin: 0;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #b6bdcc;
    text-align: center;
    margin-top: 8px;
  }

  ul {
    list-style-type: disc;
    margin-top: 33px;
    padding-left: 10px;
    display: grid;
    row-gap: 12px;
  }
}

.jury__buttons-wrapper {
  display: none;

  @media (min-width: $tablet) {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: inherit;
    bottom: 190px;
  }

  @media (min-width: $desktop) {
    z-index: 1;
    width: 1311px;
    bottom: 226px;
    left: -75px;
  }
}
