.offers__container {
  padding: 40px 0;

  @media (min-width: $tablet) {
    width: 678px;
    margin: 0 auto;
    padding: 61px 0;
    display: grid;
    grid-template-areas:
      "title title"
      "info  photo"
      "deal  deal";
    row-gap: 34px;
  }

  @media (min-width: $desktop) {
    padding: 100px 0;
    width: 1160px;
    grid-template-areas:
      "title title title title"
      ".     .     .     ."
      "info  photo .     deal";
    gap: 0;
    grid-template-rows: auto 70px auto;
    grid-template-columns: 280px 280px 40px 560px;
  }
}

.offers__title {
  font-family: $font-family-primary;
  font-weight: 600;
  font-size: 32px;
  line-height: 32px;
  text-align: center;
  margin: 0;

  @media (min-width: $tablet) {
    font-size: 42px;
    line-height: 42px;
    grid-area: title;
  }

  @media (min-width: $desktop) {
    font-size: 54px;
    line-height: 54px;
  }
}

.offers__content {
  background-color: $background-banner;
  color: $basic-white;
  text-align: center;
  padding: 30px 0 31px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet) {
    margin: 0;
    grid-area: info;
    width: 278px;
    text-align: left;
    padding: 40px 25px;
  }

  @media (min-width: $desktop) {
    width: 280px;
    padding: 40px 45px;
  }

  p {
    margin: 0;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    order: -1;
    display: flex;
    flex-direction: column;
    row-gap: 9px;

    @media (min-width: $tablet) {
      font-size: 24px;
      line-height: 24px;
      row-gap: 17px;
    }

    @media (min-width: $desktop) {
      font-size: 26px;
      line-height: 26px;
    }
  }

  span {
    font-weight: 700;
    font-size: 64px;
    line-height: 64px;

    @media (min-width: $tablet) {
      font-size: 70px;
      line-height: 70px;
      letter-spacing: -1.5px;
    }
  }

  h3 {
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    width: 260px;
    margin: 0 auto;
    margin-top: 28px;

    @media (min-width: $tablet) {
      margin: 0;
      font-size: 18px;
      line-height: 24px;
      margin-top: 42px;
    }
  }
}

.offers__image {
  @media (min-width: $tablet) {
    grid-area: photo;
    width: 400px;
    height: 462px;
  }

  @media (min-width: $desktop) {
    width: 280px;
    height: 460px;
  }
}

.offers__link {
  @include link-reset;

  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  margin-top: 21px;
  position: relative;
  display: flex;
  align-self: center;
  padding: 6px;

  @media (min-width: $tablet) {
    margin-top: 161px;
    align-self: self-start;
  }

  @media (min-width: $desktop) {
    margin-top: 157px;
  }

  &::after {
    position: absolute;
    content: "";
    width: 72px;
    height: 1px;
    left: 6px;
    bottom: -1px;
    background-color: $basic-white;
  }

  &--deal {
    margin: 0;
    margin-top: 14px;
  }

  &--free-month {
    @media (min-width: $tablet) {
      margin-top: 30px;
    }

    @media (min-width: $desktop) {
      margin-top: 39px;
    }
  }

  &--discont {
    @media (min-width: $tablet) {
      margin-top: 54px;
    }

    @media (min-width: $desktop) {
      margin-top: 41px;
    }
  }

  &:hover:not([aria-disabled="true"]) {
    opacity: 0.8;
  }

  &:focus:not([aria-disabled="true"]) {
    outline: 1px solid white;

    &::after {
      background-color: transparent;
    }
  }

  &:active:not([aria-disabled="true"]) {
    color: inherit;
    opacity: 1;
  }

  &[aria-disabled="true"] {
    opacity: 0.5;
    cursor: default;
  }
}

.offers__link--deal::after {
  background-color: #74819c;
}

.offers__deal-wrapper {
  width: 290px;
  margin: 0 auto;
  margin-top: 36px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  @media (min-width: $tablet) {
    grid-area: deal;
    margin: 0;
    flex-wrap: nowrap;
  }

  @media (min-width: $desktop) {
    flex-wrap: wrap;
    align-self: end;
  }
}

.offers__deal-inner-wrapper {
  background: linear-gradient(151deg, #ed0233 0%, #003eb7 100%);
  border: none;

  @media (min-width: $tablet) {
    width: 324px;
  }

  @media (min-width: $desktop) {
    width: 560px;
  }
}

.offers__deal {
  text-align: center;
  padding: 20px;
  background-color: $basic-white;
  margin: 7px;
  width: 276px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $button-outline-blue;

  @media (min-width: $tablet) {
    width: 310px;
    text-align: left;
    align-items: flex-start;
    row-gap: 0;
    padding: 20px 20px 27px;
  }

  @media (min-width: $desktop) {
    width: 546px;
  }

  h3 {
    margin: 0;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;

    @media (min-width: $tablet) {
      font-size: 26px;
      line-height: 26px;
      letter-spacing: 0.3px;
    }
  }

  p {
    margin: 0;
    font-size: 14px;
    line-height: 22px;
    width: 236px;
    margin-top: 20px;

    @media (min-width: $tablet) {
      font-size: 16px;
      line-height: 24px;
      margin-top: 10px;
      width: auto;
      letter-spacing: -0.2px;
    }
  }

  &--discont {
    @media (min-width: $desktop) {
      padding: 18px 20px 27px;
    }
  }

  &--free-month {
    @media (min-width: $desktop) {
      padding: 20px 20px 27px;
    }
  }
}

.offers__link--deal:focus:not([aria-disabled="true"]) {
  outline-color: $button-outline-blue;
}
