.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  font-family: $font-family-secondary, "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: $basic-blue;
  font-weight: 300;
  overflow-x: hidden;
}
