.qanda {
  border-top: 1px solid $divider;

  &:last-of-type {
    border-bottom: 1px solid $divider;
  }

  &:first-of-type {
    br {
      display: none;

      @media (min-width: $desktop) {
        display: block;
      }
    }

    h3 {
      width: 200px;
    }
  }

  h3 {
    margin: 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    width: 238px;

    @media (min-width: $tablet) {
      width: 500px;
      font-size: 22px;
      line-height: 22px;
    }

    @media (min-width: $desktop) {
      width: 660px;
      font-size: 24px;
      line-height: 24px;
    }
  }

  p {
    margin: 0;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    margin-top: 0;
    max-height: 0;
    overflow: hidden;
    transition: all 0.7s ease;

    @media (min-width: $tablet) {
      width: 560px;
      font-size: 18px;
      line-height: 24px;
      letter-spacing: -0.1px;
    }

    @media (min-width: $desktop) {
      width: 606px;
    }
  }

  .active {
    margin-top: 20px;
    max-height: 1000px;
    transition: all 3s ease;

    @media (min-width: $desktop) {
      margin-top: 29px;
    }
  }

  br {
    @media (min-width: $tablet) {
      display: none;
    }
  }
}

.qanda__button {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid $button-outline-blue;
  border-radius: 50%;
  right: 0;
  top: 25px;
  cursor: pointer;

  @media (min-width: $tablet) {
    width: 40px;
    height: 40px;
  }

  @media (min-width: $desktop) {
    top: 23px;
  }

  &::before,
  &::after {
    position: absolute;
    content: "";
    width: 14px;
    height: 1px;
    top: 50%;
    left: 25%;
    background-color: $button-outline-blue;

    @media (min-width: $tablet) {
      width: 20px;
    }
  }

  &::after {
    transform: rotate(90deg);
  }

  &--third,
  &--fourth {
    top: 35px;
  }
}

.qanda__button.active {
  background-color: $button-outline-blue;
  margin-top: 0;

  &::before,
  &::after {
    background-color: $basic-white;
  }

  &::after {
    transform: rotate(90deg);
    background-color: transparent;
  }
}
