.review-card {
  width: 240px;
  background-color: $button-outline-blue;
  color: $basic-white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 25px;
  box-shadow: 0 0 40px 0 rgba(28, 51, 116, 0.2);
  min-height: 328px;

  @media (min-width: $tablet) {
    display: grid;
    grid-template-areas:
      "photo name"
      "photo text";
    column-gap: 40px;
    row-gap: 20px;
    padding: 40px 30px;
    min-height: 242px;
  }

  @media (min-width: $desktop) {
    padding: 60px;
    column-gap: 30px;
  }

  h3 {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    margin-top: 6px;

    @media (min-width: $tablet) {
      grid-area: name;
      font-size: 22px;
      line-height: 22px;
      margin-top: 0;
      align-self: self-start;
    }
  }

  p {
    margin: 0;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    margin-top: 16px;

    @media (min-width: $tablet) {
      grid-area: text;
      font-size: 16px;
      line-height: 24px;
      text-align: left;
      margin-top: 0;
      letter-spacing: -0.1px;
    }
  }

  div {
    order: -1;

    @media (min-width: $tablet) {
      grid-area: photo;
      width: 80px;
      height: 80px;
      align-self: start;
    }
  }

  img {
    border-radius: 50%;

    @media (min-width: $tablet) {
      width: 80px;
      height: 80px;
    }
  }
}
