.video--nojs {
  .video__button {
    display: block;
  }
}

.video__iframe {
  border: none;
}

.video__button {
  display: none;
  position: absolute;
  width: 52px;
  height: 52px;
  top: 49px;
  left: 124px;
  background: $button-filling;
  border-radius: 50%;
  border: none;
  cursor: pointer;

  @media (min-width: $tablet) {
    top: 58px;
    left: 109px;
  }

  @media (min-width: $desktop) {
    width: 72px;
    height: 72px;
    top: 79px;
    left: 145px;
  }

  svg {
    @media (min-width: $desktop) {
      width: 17px;
      height: 17px;
    }
  }
}

.video__button::after {
  content: "";
  position: absolute;
  top: -20%;
  left: -20%;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid $background-banner;
  opacity: 0.2;

  @media (min-width: $desktop) {
    width: 100px;
    height: 100px;
  }
}
